.landing_head{
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    height: 222px;
    background-color: #00a884;
    padding-top: 20px;
}
.landing_window
{
    z-index: 2;
    display: flex;
    flex: none;
    flex-direction: column;
    width: 400px;
    height:440px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
}
.landing_h{
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-start;
    width: 1000px;
    min-height: 80px;
    margin: 27px auto 28px auto;
}